*{
    box-sizing: border-box;
    margin: 3px;
    padding: 0ch;
}

.chapter {
    text-align: center;
    color: rgb(48, 31, 119);
}

.chapter_photo {
    border-radius: 100px; /* Радиус скругления */
    margin: 10px;
}

ul {
    list-style: none;
}

ul li:before {
    content: "—";
    position: relative;
    left:-5px;
}